.div1 {
    display: inline-block;
    width: 10vh;
    height: 10vh;
    background-color:blue;
}
.div2 {
    display: inline-block;
    width: 10vh;
    height: 10vh;
    background-color:firebrick;
}
.blackRook {
	background-image: url(../static/images/blackRook.png);
	background-size: 10vh 10vh;
}
.blackKnight {
	background-image: url(../static/images/blackKnight.png);
	background-size: 10vh 10vh;
}
.blackBishop {
	background-image: url(../static/images/blackBishop.png);
	background-size: 10vh 10vh;
}
.blackQueen {
	background-image: url(../static/images/blackQueen.png);
	background-size: 10vh 10vh;
}
.blackKing {
	background-image: url(../static/images/blackKing.png);
	background-size: 10vh 10vh;
}
.blackPawn {
	background-image: url(../static/images/blackPawn.png);
	background-size: 10vh 10vh;
}
.whiteRook {
	background-image: url(../static/images/whiteRook.png);
	background-size: 10vh 10vh;
}
.whiteKnight {
	background-image: url(../static/images/whiteKnight.png);
	background-size: 10vh 10vh;
}
.whiteBishop {
	background-image: url(../static/images/whiteBishop.png);
	background-size: 10vh 10vh;
}
.whiteQueen {
	background-image: url(../static/images/whiteQueen.png);
	background-size: 10vh 10vh;
}
.whiteKing {
	background-image: url(../static/images/whiteKing.png);
	background-size: 10vh 10vh;
}
.whitePawn {
	background-image: url(../static/images/whitePawn.png);
	background-size: 10vh 10vh;
}

body            { font-family: sans-serif; background-image: url(../static/images/chess_background.jpg); }
a, h1, h2, h3   { color: black; }
h1, h2, h3      { font-family: 'Georgia', serif; margin: 0; }
h1              { border-bottom: 2px solid black; }
h2              { font-size: 1.4em; margin-top: 1em; }
h3              { font-size: 1.1em; margin-top: 0.2em; }

.page           { margin: 2em auto; width: 35em; border: 5px solid grey;
                  padding: 0.8em; background: white; }
.metanav        { text-align: right; font-size: 0.8em; padding: 0.3em;
                  margin-bottom: 1em; background-color: grey; }
.flash          { background-color: red; padding: 0.5em;
                  border: 1px solid blue; }
.error          { background: red; padding: 0.5em; }
