.div1 {
    display: inline-block;
    width: 10vh;
    height: 10vh;
    padding: 0px;
    margin:0px 0px 0px 0px;
 
    border-collapse:collapse;
    background-color:blue;
    overflow:hidden;

}
.div2 {
    display: inline-block;
    width: 10vh;
    height: 10vh;
    padding: 0px;
    border-collapse: collapse;
    background-color:firebrick;
    margin: 0px 0px 0px 0px;
    overflow:hidden;

}

img {
    height:10vh;
    width:10vh;
    position:absolute;
    overflow:hidden;
}
